#temp {
  height: 600px;
  background-color: rgb(99, 201, 238); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(99, 201, 238), white);
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
}

body {
  font-family: 'Oxygen', sans-serif;
}